{% set cvp_major_version = cvp_version.split('.').0 | int %}
{% set cvp_minor_version = cvp_version.split('.').1 | int %}
common:
  aeris_ingest_key: {{ cvp_ingest_key }}
  cluster_interface: {{ cvp_cluster_interface }}
  cv_wifi_enabled: {% if cvp_size == 'prod_wifi' %}'yes'{{"\n"}}{% else %}'no'{{"\n"}}{% endif %}
  cv_wifi_ha_cluster_ip: {{ template_wifi_ha_cluster_ip }}
  device_interface: {{ cvp_device_interface }}
{% if cvp_major_version >= 2021 %}  kube_cluster_network: {{ cvp_k8s_cluster_network }}{{"\n"}}{% endif %}
  dns:
{% for dns_server in cvp_dns %}
  - {{ dns_server }}
{% endfor %}
  ntp:
{% for ntp_server in cvp_ntp %}
  - {{ ntp_server }}
{% endfor %}
node1:
  default_route: {{ template_default_route }}
  hostname: {{ template_hostname }}
  interfaces:
    eth0:
      ip_address: {{ template_ip }}
      netmask: {{ cvp_netmask }}
{#node2:
  default_route: 10.83.12.1
  hostname: cva-2-cvp.ire.aristanetworks.com
  interfaces:
    eth0:
      ip_address: 10.83.12.72
      netmask: {{ cvp_netmask }}
node3:
  default_route: 10.83.12.1
  hostname: cva-3-cvp.ire.aristanetworks.com
  interfaces:
    eth0:
      ip_address: 10.83.12.73
      netmask: {{ cvp_netmask }}
#}
version: 2
